@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

/* @keyframes Jump {
  0%,100% {
    margin-top: 0;
  }
  50% {
    margin-top: 30px;
  }
} */

@keyframes Jump {
  0%,100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
}

